.homepage-container {
  display: flex;
  height: 100vh;
  background: #181a1b;
}

.left-panel {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-right: 1px solid #23272b;
  background: #23272b;
}

.right-panel {
  flex: 1;
  padding: 16px;
  background: #181a1b;
}